@import "tailwindcss";

@theme inline{
  --font-inter: var(--font-inter-tight);
  --font-serif: var(--font-playfair-display);
}

@layer base {
  body {
    @apply font-inter;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

.blurry-bg {
  inset: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at 10% 20%, #5cde7e 0%, transparent 40%),
              radial-gradient(circle at 60% 40%, #5cded0 0%, transparent 50%),
              radial-gradient(circle at 40% 60%, #5c76de 0%, transparent 50%),
              radial-gradient(circle at 90% 80%, #b75cde 0%, transparent 40%);
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(80px);
  z-index: -1;
}

.neumorphic-inset {
  box-shadow: inset 4px 4px 4px 0px #00000033, inset -4px -4px 4px 0px #ffffffB3;
  background-color: color-mix(in oklab, var(--color-gray-200) /* oklch(92.8% 0.006 264.531) = #e5e7eb */ 80%, transparent);
  border-radius: calc(infinity * 1px);
}

.neumorphic-outset {
  box-shadow: 4px 4px 4px 0px #00000033, -2px -2px 4px 0px #ffffffB3;
  background-color: #f2f2f2;
  border-radius: calc(infinity * 1px);
}